<%Header
  title="Symphero 4 Default Template"
  keywords="symphero e-commerce opensource perl open source template"
  description="Symphero 4 E-Commerce OpenSource Suite"
%>
<BODY>

<STRONG>This is the default template for Symphero 4 E-Commerce and
web-templating suite.
</STRONG>
<P>

If you see this page instead of a site then the site is probably misconfigured
-- Symphero::Web engine works, but templates are not available.
<P>

The time now is <EM><%Date/h style="short"%></EM>.
<P>

Here is the source of this page in case you're interested:
<TABLE BORDER BGCOLOR="#DDDDDD"><TR><TD><PRE>
<%Page/html path="/index.html" unparsed%>
</PRE></TD></TR></TABLE>

<%Footer%>
