<%Page path="/bits/header" PAGENAME="home"%>

<H1>Welcome to <%Utility mode="config-param" name="adminable/site_name/main"%></H1>
<P>

Thanks for your interest in XAO Commerce.

  <FORM METHOD="GET" ACTION="/order/add.html">

<TABLE BORDER="0" WIDTH="100" CELLSPACING="10">
  <TR>
    <TD>Product ID:</TD>
    <TD><INPUT TYPE="text" NAME="item1"></TD>
    <TD>Quantity:</TD>
    <TD><INPUT TYPE="TEXT" NAME="quantity1" VALUE="1" SIZE="6" MAXLENGTH="5"></TD>
  </TR>
  <TR>
    <TD>Product ID:</TD>
    <TD><INPUT TYPE="text" NAME="item2"></TD>
    <TD>Quantity:</TD>
    <TD><INPUT TYPE="TEXT" NAME="quantity2" VALUE="1" SIZE="6" MAXLENGTH="5"></TD>
  </TR>
  <TR>
    <TD>Product ID:</TD>
    <TD><INPUT TYPE="text" NAME="item3"></TD>
    <TD>Quantity:</TD>
    <TD><INPUT TYPE="TEXT" NAME="quantity3" VALUE="1" SIZE="6" MAXLENGTH="5"></TD>
  </TR>
</TABLE>
<INPUT TYPE="SUBMIT" Value="Add to Order">

  </FORM>
<%Page path="/bits/footer"%>
