<%Page path="/bits/header" PAGENAME="account" VERIFY%>

<DIV ALIGN="center"><H1>New Shipping Address</H1></DIV>
<P>

<DIV ALIGN="center">

<FORM METHOD="GET" ACTION="new.html">
<%Address
  mode="edit-object"
  base.clipboard={<%IdentifyUser/f
                    mode="check"
                    type="customer"
                    verified.path="/bits/commerce/account/customer-cb-uri"
                  %>/object}
  uri="Addresses"
  form.path="/bits/commerce/account/address/edit-form"
  success.path="/bits/commerce/account/address/edit-success"
%>
</FORM>

<%Condition
  default.path="/bits/commerce/account/footer-accounts"
  default.pass
%>

</DIV>

<%Page path="/bits/footer"%>
